<div class="content__title">
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a [routerLink]="['/']">Home page</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      change Password
    </nz-breadcrumb-item>
  </nz-breadcrumb>
</div>
<nz-card [nzBordered]="false" nzTitle="Change password">
  <form nz-form [formGroup]="form" (ngSubmit)="submit()">
    <nz-form-item>
      <nz-alert *ngIf="failed" nzType="error" nzMessage="Password modification failed!" [nzShowIcon]="true"></nz-alert>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzXs="24" nzSm="7" nzRequired nzFor="oldPassword">Original password</nz-form-label>
      <nz-form-control nzXs="24" nzSm="12" nzMd="10">
        <input nz-input formControlName="oldPassword" id="oldPassword" type="password" placeholder="Please enter the original password" required>
        <ng-container *ngIf="oldPassword.dirty && oldPassword.errors">
          <nz-form-explain *ngIf="oldPassword.errors.required">Please enter the original password! </nz-form-explain>
        </ng-container>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzXs="24" nzSm="7" nzRequired nzFor="password">New password</nz-form-label>
      <nz-form-control nzXs="24" nzSm="12" nzMd="10">

        <nz-popover [nzPlacement]="'right'" [nzTrigger]="'focus'" [(nzVisible)]="visible" nzOverlayClassName="register-password-cdk"
                    [nzOverlayStyle]="{'width.px': 240}">
          <nz-input-group nz-popover nzAddonBeforeIcon="anticon anticon-lock">
            <input nz-input type="password" formControlName="password" placeholder="At least 6 new passwords, case sensitive" required>
          </nz-input-group>
          <ng-container *ngIf="password.dirty && password.errors">
            <nz-form-explain *ngIf="password.errors.required">Please enter a new password! </nz-form-explain>
            <nz-form-explain *ngIf="password.errors.minlength">Please enter at least 6 new passwords! </nz-form-explain>
          </ng-container>
          <ng-template #nzTemplate>
            <div style="padding: 4px 0;">
              <ng-container [ngSwitch]="status">
                <div *ngSwitchCase="'ok'" class="success">Strength: Strong</div>
                <div *ngSwitchCase="'pass'" class="warning">Strength: Medium</div>
                <div *ngSwitchDefault class="error">Strength: Weak</div>
              </ng-container>
              <div class="progress-{{status}}">
                <nz-progress [nzPercent]="progress" [nzStatus]="passwordProgressMap[status]" [nzStrokeWidth]="6" [nzShowInfo]="false"></nz-progress>
              </div>
              <p class="mt-sm">Please enter at least 6 characters. Please do not use passwords that are easy to guess. </p>
            </div>
          </ng-template>
        </nz-popover>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzXs="24" nzSm="7" nzRequired nzFor="confirmPassword">Confirm password</nz-form-label>
      <nz-form-control nzXs="24" nzSm="12" nzMd="10">
        <input nz-input formControlName="confirmPassword" id="confirmPassword" type="password" placeholder="Please enter the new password again" required>
        <ng-container *ngIf="confirmPassword.dirty && confirmPassword.errors">
          <nz-form-explain *ngIf="confirmPassword.errors.required">Please enter the new password again! </nz-form-explain>
          <nz-form-explain *ngIf="confirmPassword.errors.minlength">Please enter at least 6 new passwords! </nz-form-explain>
          <nz-form-explain *ngIf="!(confirmPassword.errors.required || confirmPassword.errors.minlength) && confirmPassword.errors.equal">The two entered passwords do not match! </nz-form-explain>
        </ng-container>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 10, offset: 7 }">
        <button nz-button nzType="primary" type="submit" [nzLoading]="submitting">Update password</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>
