<div class="content__title">
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a [routerLink]="['/']">Home page</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      dash board
    </nz-breadcrumb-item>
  </nz-breadcrumb>
</div>
<div nz-row nzGutter="16">
  <div nz-col nzXs="24" nzMd="12">
    <nz-card [nzBordered]="false" nzTitle="Chart 1" class="ant-card__body-nopadding">
      <v-chart [forceFit]="forceFit" [height]="height" [data]="data" [scale]="scale">
        <v-tooltip></v-tooltip>
        <v-axis></v-axis>
        <v-bar position="year*sales"></v-bar>
      </v-chart>
    </nz-card>
  </div>
  <div nz-col nzXs="24" nzMd="12">
    <nz-card [nzBordered]="false" nzTitle="Chart 2" class="ant-card__body-nopadding">
      <v-chart [forceFit]="forceFit" [height]="height" [data]="data" [scale]="scale">
        <v-tooltip></v-tooltip>
        <v-axis></v-axis>
        <v-line position="year*sales"></v-line>
        <v-point position="year*sales" shape="circle"></v-point>
      </v-chart>
    </nz-card>
  </div>
</div>
